.mainText, .formContainerBackrgound_second {
    position: absolute;
    border-radius: 20px;
}


.mainText {
    background: linear-gradient(180deg, #FFF 13.3%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    text-shadow: 0px 5px 6px rgba(64, 64, 64, 0.44);
    border: 12px solid rgba(0, 0, 0, 0.29);
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 400px;
}

.formContainerBackrgound_second {
    top: 150px;
    left: 39%;
    border-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(186, 186, 186, 0)) 0.5;
    background: linear-gradient(
        117deg,
        #000 0.61%,
        rgba(0, 0, 0, 0.60) 40.95%,
        rgba(0, 0, 0, 0.00) 63.72%),
        linear-gradient(256deg, #000 -51.91%,  #000 0.13%,  rgba(0, 0, 0, 0.00) 40.22%);
    height: 110px;
    width: 425px;
    margin: auto;
}

.formContainerBackrgound_one{
    border-radius: 20px;
    border-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(186, 186, 186, 0)) 0.5;
    background: linear-gradient(
        117deg,
        #000 0.61%,
        rgba(0, 0, 0, 0.60) 40.95%,
        rgba(0, 0, 0, 0.00) 63.72%),
        linear-gradient(256deg, #000 -51.91%,  #000 0.13%,  rgba(0, 0, 0, 0.00) 40.22%);
    height: 400px;
    width: 700px;
    margin: 20px 20px;
    position: relative;
    left: 600px;
    top: 250px;
}


.massageForm{
    position: relative;
    top: 20px;
    left: 20px;
}

.massageForm .massageSubject{
    position: relative;
    border-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(186, 186, 186, 0)) 0.5;
    font-size: 30px;
    border-radius: 5px;
    left: 40px;
}

.inputSubject{
    width: 140px;
    height: 20px;
    margin: 20px 20px;
    
    font-family: Metal;
    font-size: 25px;

    padding: .55rem;

    border: 4px solid rgba(73, 73, 73, 0.5);
    border-radius: 15px;
}

.inputmassageLabel{
    position: relative;
    top: -80px;
}

.massageText{
    position: relative;
    font-size: 30px;
    border-radius: 5px;
    left: 40px;
    top: 10px;
}

.inputMassageText{
    position: relative;
    margin: 10px 100px;
    width: 700px;
    height: 150px;
    padding: .75rem;
    font-family: Metal;
    font-size: 25px;
    border: 4px solid rgba(73, 73, 73, 0.5);
    border-radius: 15px;
    left: -40px;
}



button[type='send'] {
    background: transparent;
    border: none; 
    cursor: pointer; 
    position: relative;
    left: 220px;
}

  
button[type='send'] {
    font-family: Metal;
    font-size: 30px;
    background: transparent; 
    border: 5px solid linear-gradient(180deg, #B80404 0%, rgba(120, 0, 0, 0.72) 99.99%, rgba(0, 0, 0, 0.00) 100%);
    color: #ffffff; 
    padding: 3px 20px; 
    cursor: pointer; 
    border-radius: 10px; 
    transition: background 0.3s, color 0.3s; 
    background: linear-gradient(180deg, #B80404 0%, rgba(120, 0, 0, 0.72) 99.99%, rgba(0, 0, 0, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

button[type='send']:hover {
    background: #8a0000; 
    color: white; 
}